* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

main > .background {
  height: 100vh;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../img/overlay.png),
    linear-gradient(45deg, #3a3446 15%, #252258 85%);
}

main > .background > img {
  width: 100%;
  height: 100vh;
  opacity: 0.4;
}

main > .background > .title {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 50px;
}

main > .background > .title > div {
  display: flex;
}

main > .background > .title > div > h1 {
  color: #e31b6d;
  font-size: 50px;
  font-weight: bolder;
  margin-left: 10px;
}

@keyframes buttonWork {
  from {
    opacity: 0.1;
    margin-top: 300px;
  }
}

main > .background > .title > div > button {
  font-family: 'Raleway', sans-serif;
  padding: 12px 20px;
  margin-top: 40px;
  font-size: 22px;
  border: 2px solid #fff;
  cursor: pointer;
  background: transparent;
  color: #fff;
  display: flex;
  transition: background-color 0.5s, border-color 0.5s;
}

main > .background > .title > div.animated {
  animation: buttonWork 1s;
}

main > .background > .title > div > button:hover {
  background-color: #04c2c9;
  border-color: #04c2c9;
}

main > .background > .title > div > button > i {
  margin-left: 15px;
  display: flex;
  align-self: center;
  transition: transform 0.5s;
}

main > .background > .title > div > button:hover > i {
  transform: rotate(90deg);
}

.line-separator {
  height: 3px;
  background-color: #04c2c9;
}

section > div,
section > div > header {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin-bottom: 50px;
}

@keyframes fadeIn {
  from {
    opacity: 0.5;
    visibility: visible;
  }
}

@keyframes fadeLeft {
  from {
    opacity: 0.5;
    margin-left: -500px;
    visibility: visible;
  }
}

@keyframes fadeRight {
  from {
    opacity: 0.5;
    margin-right: -500px;
    visibility: visible;
  }
}

@keyframes fadeDown {
  from {
    opacity: 0;
    margin-top: 50px;
  }

  to {
    opacity: 1;
  }
}

section > div > header > h2 {
  margin-top: 100px;
  font-size: 40px;
  text-transform: uppercase;
  color: #444649;
  font-weight: bold;
  visibility: hidden;
}

section > div > header > .separator {
  width: 70px;
  height: 4px;
  background: #444649;
  margin: 25px 0 100px 0;
  visibility: hidden;
}

section > div > header > h2.animated {
  visibility: visible;
  animation: fadeLeft 0.75s;
}

section > div > header > .separator.animated {
  visibility: visible;
  animation: fadeLeft 1.75s;
}

section.about > div > main > .characteristics {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -30px;
}

section.about > div > main > .characteristics > div {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 25px;
  margin-top: 30px;
}

@keyframes fadeCharacteristicHeader {
  from {
    opacity: 0;
    transform: perspective(400px) rotateY(90deg);
  }
}

section.about > div > main > .characteristics > div > header {
  height: 100px;
  width: 100px;
  text-align: center;
  position: relative;
  display: inline-block;
  opacity: 0;
}

section.about > div > main > .characteristics > div > header.animated {
  opacity: 1;
  animation: fadeCharacteristicHeader 0.75s ease both;
}

section.about
  > div
  > main
  > .characteristics
  > div:nth-child(2)
  > header.animated {
  animation-delay: 0.2s;
}

section.about
  > div
  > main
  > .characteristics
  > div:nth-child(3)
  > header.animated {
  animation-delay: 0.4s;
}

section.about
  > div
  > main
  > .characteristics
  > div:nth-child(4)
  > header.animated {
  animation-delay: 0.6s;
}

section.about > div > main > .characteristics > div > header > div {
  background-color: #04c2c9;
  height: 100%;
  width: calc(100% * 0.57735);
  display: inline-block;
}

section.about > div > main > .characteristics > div > header > div:before {
  position: absolute;
  top: 0;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  background-color: inherit;
  height: inherit;
  width: inherit;
  content: '';
  transform: rotateZ(60deg);
}

section.about > div > main > .characteristics > div > header > div:after {
  position: absolute;
  top: 0;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  background-color: inherit;
  height: inherit;
  width: inherit;
  content: '';
  transform: rotateZ(-60deg);
}

section.about > div > main > .characteristics > div > header > div > i {
  position: absolute;
  top: 20px;
  font-size: 55px;
  color: #fff;
  left: 0;
  right: 0;
  z-index: 1;
}

@keyframes fadeCharacteristicMain {
  from {
    opacity: 0;
  }
}

section.about > div > main > .characteristics > div > main {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
}

section.about > div > main > .characteristics > div > main.animated {
  opacity: 1;
  animation: fadeCharacteristicMain 0.75s ease both;
}

section.about
  > div
  > main
  > .characteristics
  > div:nth-child(2)
  > main.animated {
  animation-delay: 0.2s;
}

section.about
  > div
  > main
  > .characteristics
  > div:nth-child(3)
  > main.animated {
  animation-delay: 0.4s;
}

section.about
  > div
  > main
  > .characteristics
  > div:nth-child(4)
  > main.animated {
  animation-delay: 0.6s;
}

section.about > div > main > .characteristics > div > main > h3,
section.about > div > footer > div > h3 {
  margin: 15px 0 5px 0;
  font-size: 25px;
  font-weight: bold;
  color: #616161;
}

section.about > div > main > .characteristics > div > main > p,
section.about > div > footer > div > p {
  color: #616161;
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}

section.about > div > footer {
  display: flex;
  margin: 100px 0 70px 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

@keyframes rotateX {
  from {
    opacity: 0;
    transform: perspective(400px) rotateX(90deg);
  }
}

section.about > div > footer > div {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  opacity: 0;
  margin-bottom: 30px;
}

section.about > div > footer > div:nth-child(1).animated,
section.about > div > footer > .knowledges.animated {
  opacity: 1;
  animation: rotateX 0.75s ease both;
}

section.about > div > footer > div > img {
  width: 280;
  height: 250px;
}

section.about > div > footer > .knowledges {
  display: flex;
  flex-direction: column;
  width: calc(100% - 15px);
}

section.about > div > footer > .knowledges > div {
  display: flex;
  justify-content: space-between;
  height: 28px;
  background-color: #eee;
  width: 90%;
  margin-bottom: 15px;
}

section.about > div > footer > .knowledges > div > div {
  width: 100%;
}

section.about > div > footer > .knowledges > div > div > .bar {
  background-color: #00a1a7;
  height: 100%;
}

section.about > div > footer > .knowledges > div > div > .bar > .tag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 100%;
  background-color: #04c2c9;
  color: #fff;
  font-size: 18px;
  font-weight: bolder;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

section.about > div > footer > .knowledges > div > span {
  width: 70px;
  text-align: center;
  align-self: center;
  padding: 0 15px;
  color: #fff;
  font-size: 16px;
  height: 100%;
  background-color: #e31b6d;
  line-height: 28px;
}

section.projects {
  padding-top: 100px 0 130px 0;
  background-color: #f5f5f5;
}

section.projects > div > header > h2.animated {
  visibility: visible;
  animation: fadeRight 0.75s;
}

section.projects > div > header > .separator.animated {
  visibility: visible;
  animation: fadeRight 1.75s;
}

section.projects > div > main > .project-menu {
  display: flex;
  justify-content: center;
  margin: -50px 0 20px 0;
  visibility: hidden;
}

section.projects > div > main > .project-menu.animated {
  visibility: visible;
  animation: fadeIn 1.5s ease;
}

section.projects > div > main > .project-menu > button {
  color: #616161;
  padding: 5px 40px;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  margin: 0 25px;
  background: transparent;
  font-weight: bolder;
}

section.projects > div > main > .project-menu > button.active {
  background-color: #e31b6d;
  color: #fff;
}

section.projects > div > main > .gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

section.projects > div > main > .gallery > div {
  width: 390px;
  height: 300px;
  opacity: 0;
  display: flex;
  justify-content: center;
  position: relative;
}

section.projects > div > main > .gallery > div > div {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: background-color 0.5s;
}

section.projects > div > main > .gallery > div:hover {
  cursor: pointer;
}

section.projects > div > main > .gallery > div:hover > div {
  background-color: #fff;
}

section.projects > div > main > .gallery > div > div > strong {
  opacity: 0;
  font-size: 20px;
  color: #1b242f;
  transition: all 0.5s;
}

section.projects > div > main > .gallery > div > div > span {
  opacity: 0;
  font-size: 16px;
  color: #e31b6d;
  transition: all 0.5s;
}

section.projects > div > main > .gallery > div:hover > div > strong {
  opacity: 1;
}

section.projects > div > main > .gallery > div:hover > div > span {
  opacity: 1;
}

section.projects > div > main > .gallery > div > div > button {
  opacity: 0;
  margin-top: 180px;
  font-size: 16px;
  color: #1b242f;
  text-transform: uppercase;
  border: 2px solid #e31b6d;
  width: 170px;
  padding: 7px 0;
  background: transparent;
  cursor: pointer;
  transition: all 0.5s;
}

section.projects > div > main > .gallery > div:hover > div > button {
  opacity: 1;
  margin-top: 80px;
}

section.projects > div > main > .gallery > div:hover > div > button:hover {
  color: #fff;
  background: #e31b6d;
}

section.projects > div > main > .gallery > div > img {
  width: 390px;
  height: 300px;
}

section.projects > div > main > .gallery.animated > div {
  opacity: 1;
  animation: fadeDown 0.75s ease both;
}

section.projects > div > main > .gallery.animated > div:nth-child(odd) {
  animation-delay: 0.2s;
}

section.projects > div > main > .gallery.animated > div:nth-child(even) {
  animation-delay: 0.4s;
}

section.contact {
  margin: 100px 0 0 0;
  background-color: #252934;
}

section.contact > svg {
  fill: #252934;
}

section.contact > div {
  margin-bottom: 0;
}

section.contact > div > header > h2 {
  color: #fff;
}

section.contact > div > header > div {
  background-color: #fff;
  margin-bottom: 10px;
}

section.contact > div > main > div {
  display: flex;
}

section.contact > div > main > div > a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #262f38;
  margin: 15px;
  opacity: 0;
  transition: all 0.5s;
}

section.contact > div > main > div > a:hover {
  background: #04c2c9;
}

section.contact > div > main > div.animated > a {
  opacity: 1;
  animation: rotateX 0.75s ease both;
}

section.contact > div > main > div > a > i {
  padding: 15px;
  font-size: 26px;
}

section.contact > div > footer {
  margin: 100px 0 100px 0;
}

section.contact > div > footer > p {
  color: #8f9aa7;
  font-size: 14px;
  font-weight: 500;
}

section.contact > div > footer > p > span {
  color: #e31b6d;
}
